<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>핫딜 DM 받기 설정</title>
</head>
<body>
    <h1>핫딜 DM 받기 설정</h1>
    <form method="post">
    {% csrf_token %}
    <p>
    <label for="id_active">활성화:</label>
    <input type="checkbox" name="active" id="id_active" {% if form.active.value %}checked{% endif %}>
    </p>
        <button type="submit">저장</button>
    </form>
    <a href="{% url 'keyword_manager:keyword_list' %}">키워드 리스트로 돌아가기</a>
</body>
</html>
