<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEYWORD LIST</title>
</head>
<body>
    <p><a href= "{% url 'hotdeal:main' %}" target="_self">MAIN으로 돌아가기</a></p>
    <h1>키워드 리스트</h1>
    
    {% if discord_message_pk %}
        <p>
            {% if discord_message_active %}
                핫딜 DM 받기: 활성화
            {% else %}
                핫딜 DM 받기: 비활성화
            {% endif %}
            &nbsp;
            <a href="{% url 'keyword_manager:active_update' pk=discord_message_pk %}" target="_self">편집</a>
        </p>
    {% endif %}

    {% if keywords %}
        <ul>
            {% for data in keywords %}
                <li>
                    <a href="{% url 'keyword_manager:filtered_scrapping_list' keyword=data.text %}">{{data.text}}</a> &nbsp;&nbsp;&nbsp;<a href="{% url 'keyword_manager:keyword_delete' pk=data.pk%}">삭제</a>    
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>등록된 키워드가 없습니다.</p>
    {% endif %}
    <a href= "{% url 'keyword_manager:add_keyword' %}" target="_self">키워드 추가</a><br>
    <a href= "{% url 'keyword_manager:filtered_scrapping_list' %}" target="_self">키워드 검색 결과</a>
    
    </br>
    {% if user.is_authenticated %}
        <!-- 사용자가 로그인되어 있을 때 -->
        <a href="{% url 'account_logout' %}">로그아웃</a>
    {% else %}
        <!-- 사용자가 로그아웃되어 있을 때 -->
        {% load socialaccount %}
        <a href="{% provider_login_url 'discord' %}">Discord 로그인</a>
    {% endif %}
</body>
</html>
