<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DISCORD LOGOUT</title>
</head>
<body>
{% load allauth i18n %}
{% block content %}
    {% element h1 %}
        {% trans "Logout" %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'LOGOUT' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
{% endblock content %}
</body>
</html>