<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}핫딜{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <div class="navbar">
            <a href="{% url 'home' %}">Home</a>
            <div class="auth-buttons" style="float: right;">
                {% if user.is_authenticated %}
                    <span>Welcome, {{ user.username }}!</span>
                    <a href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a>
                {% else %}
                    <a href="{% url 'account_login' %}?next={{ request.path }}">Login</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    
</body>
</html>
