<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ category }} LIST</title>
</head>
<body>
    <h3>{{ category }}</h3>
    <div><a href="{% url 'hotdeal:list' %}" style="margin-right: 10px;">전체 리스트로 돌아가기</a></div>
    <ul>
        {% for post in page_obj %}
        <li> <a href="{% url 'hotdeal:detail' pk=post.pk %}" target="_blank">{{ post.title }}</a> {{ post.price }}</li>
        {% endfor %}
    </ul>

    <div>
        {% load socialaccount %}
        {% if user.is_authenticated %}
            <!-- 사용자가 로그인되어 있을 때 -->
            <a href="{% url 'account_logout' %}">로그아웃</a>
        {% else %}
            <!-- 사용자가 로그아웃되어 있을 때 -->
            <a href="{% provider_login_url 'discord' %}?next={{ request.path }}">Discord 로그인</a>
        {% endif %}
    </div>


</body>
</html>