{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOTDEAL</title>
    
</head>
<body>
    main view
    <p><a href= "{% url 'hotdeal:list' %}" target="_self">HOTDEAL LIST</a></p>
    
    <p><a href= "{% url 'keyword_manager:keyword_list' %}" target="_self" >KEYWORD</a></p>

    {% if user.is_authenticated %}
        <!-- 사용자가 로그인되어 있을 때 -->
        <a href="{% url 'account_logout' %}">로그아웃</a>
    {% else %}
        <!-- 사용자가 로그아웃되어 있을 때 -->
        <a href="{% provider_login_url 'discord' %}">Discord 로그인</a>
    {% comment %} <form action="{% provider_login_url 'discord' %}" method='post'>
        {% csrf_token %}
        <button>Discord Login</button> {% endcomment %}
    {% endif %}
  
</body>
</html>